@model tieuthiminhthuong.Context.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Avatar)</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Avatar))
            {
                <img src="~/Content/images/@Model.Avatar" alt="@Model.Name" style="max-width: 200px;" />
            }
            else
            {
                <span>No Avatar</span>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Slug)</dt>
        <dd>@Html.DisplayFor(model => model.Slug)</dd>

        <dt>@Html.DisplayNameFor(model => model.ShowOnHomePage)</dt>
        <dd>@Html.DisplayFor(model => model.ShowOnHomePage)</dd>

        <dt>@Html.DisplayNameFor(model => model.DisplayOrder)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayOrder)</dd>

        <dt>@Html.DisplayNameFor(model => model.Deleted)</dt>
        <dd>@Html.DisplayFor(model => model.Deleted)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreatedOnUtc)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedOnUtc)</dd>

        <dt>@Html.DisplayNameFor(model => model.UpdatedOnUtc)</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedOnUtc)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>